        <div class="col-sm-3 col-md-2 sidebar sidebar-collapse">
          <ul class="nav nav-sidebar" id="side-menu">
            <li><a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
            <li>
                <a href=""><i class="fa fa-wrench fa-fw"></i>My Profile<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#/profile/360">360</a>
                    </li>
                    <li>
                        <a href="#/profile/skills">Skills</a>
                    </li>
                    <li>
                        <a href="#/profile/certificates">Certificates</a>
                    </li>
                    <li>
                        <a href="#/profile/resume">Resume</a>
                    </li>
                </ul>
            </li>

            <li><a href="#">My Team</a></li>
            <li><a href="#">My Project</a></li>
            <li><a href="#">My Division</a></li>
            <li><a href="#">My Company</a></li>
            <li>
                <a href=""><i class="fa fa-wrench fa-fw"></i> Project<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#/project">List</a>
                    </li>
                    <li>
                        <a href="#/project/mgt">Create</a>
                    </li>
                    <li>
                        <a href="#/project/team">Team</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href=""><i class="fa fa-wrench fa-fw"></i> Member<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#/member">List</a>
                    </li>
                    <li>
                        <a href="#/member/mgt">Create</a>
                    </li>
                    <li>
                        <a href="#/member/update">Upload</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href=""><i class="fa fa-wrench fa-fw"></i> Master<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#/master/skills">Skills</a>
                    </li>
                    <li>
                        <a href="#/master/organization">Organization</a>
                    </li>
                    <li>
                        <a href="#/master/posts">Posts</a>
                    </li>
                    <li>
                        <a href="#/master/tags">Tags</a>
                    </li>
                    <li>
                        <a href="#/master/rank">Rank</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href=""><i class="fa fa-wrench fa-fw"></i> Authority<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#/authority/roll">Roll</a>
                    </li>
                    <li>
                        <a href="#/authority/set">Set Member</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

