<!-- 
コメント表示用モーダル

入力フォームとして使用する場合は、呼び出し元コントローラーにmakeメソッドを
作成すること。

[scope]
comentList {array} 表示するコメントの配列
comments {string} 入力したコメント

@author niikawa
-->
<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h3>{{modalParam.header}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="scroll-on col-sm-12">
            <comment-directive bind=modalParam.commentList><comment-directive>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <textarea class="form-control" placeholder="コメントを入力してください" ng-model="modalParam.newComment"/>
    </div>
    <button type="button" class="btn btn-default" ng-click="$close()">Close</button>
    <button class="btn btn-primary" ng-click="make()">Save changes</button>
</div>